/*Footer*/
.todo-footer{
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    background: rgb(215, 229, 223);
}

.todo-footer label{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.todo-footer label input{
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 5px;
}

.todo-footer button{
    float: right;
    margin-top:8px;
    margin-right:10px;
}